<!-- Services -->
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
  <div class="container noClick">
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
<a href="https://logwork.com/countdown-sdmn" class="countdown-timer text-uppercase" data-timezone="Asia/Kolkata" data-date="2022-12-11 00:00">Countdown</a>

</section>  
<section class="img-flight page-section" id="flight">
<img src="assets/img/flight_travel.gif" alt="Flight"  class="center">
</section>