// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.noClick{
  pointer-events: none;
}

.img-flight {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
  background-color: #202020;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

@media (max-width: 425px) {

  .img-flight {
    background-position: center center;
    background-size: cover;
    background-color: #202020;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
  }

}
